<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-externalapp-open" version="0.0.1">
    <name>ExternalApp Open</name>
    <description>ExternalApp OPen</description>
    <license>MIT</license>
    <js-module src="www/plugin.js" name="externalapp">
        <clobbers target="window.plugins.externalapp" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExternalApp">
                <param name="android-package" value="com.hogangnono.cordova.plugin.ExternalApp"/>
            </feature>
        </config-file>
         <source-file src="src/android/ExternalApp.java" target-dir="src/com/hogangnono/cordova/plugin/" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ExternalApp">
                <param name="ios-package" value="ExternalApp" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
          <array>
            <string>zigbang</string>
            <string>youtube</string>
          </array>
        </config-file>
        <source-file src="src/ios/ExternalApp.m" />
        <header-file src="src/ios/ExternalApp.h" />

        <header-file src="src/ios/AppDelegate+ExternalAppPlugin.h" />
        <source-file src="src/ios/AppDelegate+ExternalAppPlugin.m" />
    </platform>
</plugin>
